
body{
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}



p>span{
  color: #9c7b60;
  /* margin-left: 100px; */
}

p{
line-height: 1rem;
}



.card{
  padding: 10px;
}


.col-sm-1{
  margin-right: 30px;
}


   @media only screen and (max-width: 480px){
  .table{
    display: flex;
    flex-direction: column;
  }
} 










